<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA  - Events</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/event.css">
    <link rel="stylesheet" href="/assets/css/event_box.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/social_icon.css">
    <script src="/assets/js/overlay_close.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>  

     <!-- canvas section -->
     <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="/assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- back button -->
    <div class="back_button animated zoomIn delay-1s">
        <a href="/home"><img src="/assets/img/logo.png" alt=""></a>
    </div>


    <!-- navbar -->

        <%- include("partials/nav") %>
    
    <!-- navbar ends -->
<section>
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="space"></div>
            
            <div class="space-50"></div>
            <div class="col col-12 text-center text-md-left">
                <h3 class="home_head animated fadeInUp delay-1s">EVENTS</h3>
            </div>
        </div><!-- &&row -->
         <!-- row -->
        <!-- &&row -->
        
    </div><!-- container end -->
    
</section>



    <!-- =========================================== -->
    <section>
    <div class="container">
        <div class="row">

            <!-- 00000000000000000 -->
            <div class="info col col-12 animated fadeInUp delay-1s">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link <% if(label == "all"){%> active <% }%> "   href="/event">All </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link <% if(label == "coding"){%> active <% }%>"   href="/event/filter/coding">Coding</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link <% if(label == "flagship"){%> active <% }%>"   href="/event/filter/flagship">Flagship</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(label == "games"){%> active <% }%>"   href="/event/filter/games">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(label == "exhibition"){%> active <% }%>"   href="/event/filter/exhibition">Exhibitions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(label == "competition"){%> active <% }%>"   href="/event/filter/competition">Competition</a>
                    </li>
                    
                  </ul>


                 
            
            </div>
             
            <!-- 00000000000000000 -->



            <div class="col col-12">
                 <div class="space-50"></div>
                <ul class=" clearfix">

                    <% for(var i=0;i<events.length;i++){ %>

                        <!-- box -->
                    <!-- ====================================== -->
                       
                        <li class="scene animated zoomIn delay-1s">
                           
                            <div class="movie" onclick="return true">
                                <div class="poster">
                                   
                                    <% if(events[i].details != ""){ %>
                                    	 <img src="/assets/img/events/<%= events[i].details%>.jpeg" alt="" >
                                    	<% } else {%>
                                    	      <div class="poster_head"><%= events[i].name%></div>
                                    	<% } %>

                                </div>
                                 
                                <div class="info">
                                   
                                    <header>
                                        <h6><%= events[i].name %></h6>
                                    </header>
                                    <a href="/event/<%= events[i].name%>/knowmore" >
                                    <p >
                                        <%= events[i].content %>
                                    </p>
                                    </a>
                                    <a href="/event/<%= events[i].name%>/knowmore" >
                                    <div class="box_button text-center text-danger">
                                        <span>Register</span>
                                    </div>
                                    </a>
                                </div>

                                <!--  -->
                            
                            </div>
                            
                        </li>
                        <!-- overlay -->
                        
                        <!-- overlay end -->
                     <!-- box ends -->
                     <!-- ================================================= -->



                   <% } %>
                    

                </ul>
            </div>
        </div>
    </div>


    </section>


    <section>
        <!-- footer social media icons -->
        <div class="space"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12 ">
                     <ul class="social_dhishna ">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/dhishna.cusat/" title=""><i class="fab fa-facebook-f" ></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/dhishna.cusat/" title=""><i class="fab fa-instagram" ></i></a>
                        </li>
                       
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCxa_SzyC6Ylv2M19RGVCArg" title=""><i class="fab fa-youtube" ></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="space"></div>
            </div>

        </div>
    </section>


    <script src="/assets/js/modernizr.custom.js"></script> 
    <!-- script -->
    <script src="/assets/js/navbar.js"></script>
   
    <!-- script -->

</body>
</html>