<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA - | Workshop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/event.css">
    <link rel="stylesheet" href="/assets/css/event_box.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/social_icon.css">
    <script src="/assets/js/overlay_close.js"></script>
</head>
<body>  

     <!-- canvas section -->
     <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="/assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- back button -->
    <div class="back_button animated zoomIn delay-1s">
        <a href="home"><img src="/assets/img/logo.png" alt=""></a>
    </div>


<!-- navbar -->
<section>
    <header>
        <div id="myNav" class="overlay">
            <!-- Button to close the overlay navigation -->
            
            <!-- Overlay content -->
            <div class="overlay-content">
                
               <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  -->     
                <div onclick="closeNav()" class="burger" id="closebutton">
                     <i class="fa fa-times" aria-hidden="true"></i>
                </div>   
                <div class="links">
                    <a href="home">HOME</a>
                    <a href="about">ABOUT</a>
                    <!-- <a href="event.html">EVENTS</a> -->
                    <a href="workshop">WORKSHOPS</a>
                    <!-- <a href="exhibition.html">EXHIBITION</a> -->
                    <a href="outreach">INITIATIVES</a>
                    <a href="http://summit.dhishna.org">SUMMIT</a>
                    <a href="profile">PROFILE</a>
                    <!-- <a href="">MAP</a> -->
                    <a href="contact">CONTACT</a>
                </div>
    
                <ul class="circles" id="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                 </ul>
            
            </div>
        </div>
    </header>
    <div onclick="openNav()" class="burger">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
</section>
    
<!-- navbar ends -->
<section>
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="space"></div>
            <div class="space-50"></div>
            <div class="col col-12 text-center text-md-left">
                <h3 class="home_head animated fadeInUp delay-1s">WORKSHOPS</h3>
            </div>
        </div><!-- &&row -->
         <!-- row -->
        <!-- &&row -->
        
    </div><!-- container end -->
    
</section>



    <!-- =========================================== -->
    <section>
    <div class="container">
        <div class="row">
            <div class="col col-12">
                 <div class="space-50"></div>
                <ul class=" clearfix">

                    <% for(var i=0;i<events.length;i++){ %>

                        <!-- box -->
                    <!-- ====================================== -->
                       
                        <li class="scene animated zoomIn delay-1s">
                            <div class="movie" onclick="return true">
                                <div class="poster">
                                    <!-- <div class="poster_head"></div> -->
                                    <img src="/assets/img/<%= events[i].details%>.jpeg" alt="" >
                                </div>
                                <div class="info">
                                    <header>
                                        <h6><%= events[i].name %></h6>
                                    </header>
                                    <p >
                                        <%= events[i].content %>
                                    </p>
                                    <div class="box_button text-center">
                                        <span><a onclick="overlay_open('<%=events[i].name%>')">Know more</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- overlay -->
                        <div class="pay_over animated fadeIn" id="<%=events[i].name%>">
                                <div class="pay_box">
                                    <div class="row">
                                        <div  onclick="overlay_close('<%=events[i].name%>')" class="col col-12 text-right pay_close">
                                           <a > X</a>
                                        </div>
                                        <div class="space-50"></div>
                                        <div class="col col-12 text-center">
                                            <%= events[i].name %>
                                        </div>
                                        <div class="space-50"></div>
                                        <div class="col col-12 text-center pay_desc text-md-left">
                                            <%= events[i].content %>
                                        </div>
                                        <div class="space-50"></div>
                                        <div class="col col-12 text-center"><a target="_blank" href="<%= events[i].pdfUrl %>"><button type="button" class="btn btn-dark">Download full details</button></a></div>
                                        <div class="space-50"></div>
                                        <div class="col col-12 col-md-4 text-center pay_money">Fees : <%= events[i].price %></div>
                                        
                                        <div class="col col-12 col-md-4 text-center pay_money">Date : <%= events[i].date %></div>
                                        <div class="col col-12  col-md-4 text-center pay_money text-danger"><%= events[i].message %></div>
                                        <!-- <div class="space-50"></div> -->
                                        <div class="col col-12  text-center pay_money p-4 "><strong>COORDINATORS</strong>  <br>
                                            <% events[i].contact.forEach(contact => { %>

                                                    <%= contact.name %> : <a href="tel:<%= contact.phone %>"><%= contact.phone %></a> <br>

                                           <% }) %>
                                        </div>
                                        
                                        <% if(events[i].isOpen == true){ %>

                                                <% if(logStatus == true) {%>

                                                        <div class="col col-12 text-center"><a target="_blank" href="<%= events[i].url + q %>"><button type="button" class="btn btn-danger">Pay now</button></a></div>


                                                <%  } else {%>

                                                    <div class="col col-12 text-center"><a  href="/login"><button type="button" class="btn btn-danger">Login to pay</button></a></div>
 

                                                <%}%>

                                                
                                       <% } else {%>

                                                <div class="col col-12 text-center"><a href=""><button type="button" class="btn btn-danger">closed</button></a></div>


                                       <%}%>
                                        

                                        <div class="space-50"></div>
                                    </div>
                                </div>
                        </div>
                        <!-- overlay end -->
                     <!-- box ends -->
                     <!-- ================================================= -->



                   <% } %>
                    

                </ul>
            </div>
        </div>
    </div>


    </section>


    <section>
        <!-- footer social media icons -->
        <div class="space"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12 ">
                     <ul class="social_dhishna ">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/dhishna.cusat/" title=""><i class="fab fa-facebook-f" ></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/dhishna.cusat/" title=""><i class="fab fa-instagram" ></i></a>
                        </li>
                       
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCxa_SzyC6Ylv2M19RGVCArg" title=""><i class="fab fa-youtube" ></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="space"></div>
            </div>

        </div>
    </section>


    <script src="/assets/js/modernizr.custom.js"></script> 
    <!-- script -->
    <script src="/assets/js/navbar.js"></script>
   
    <!-- script -->

</body>
</html>